@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Outfit:wght@300;400;600;700&display=swap');


:root {
    --font-card-color: #173334;
    --secondary-color: #FEB02F;
    --gray-color: #c4c4c4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main-header{
    background-color: dodgerblue;
}

.main-banner {
    flex-grow: 1;
    background-color: #a82e9e;
    
}

.main-container {
    background-color: rgb(15, 240, 191);
    grid-row: 1;
}



.card-version {
    display: flex;
    flex-direction: column;
}
/* # CLASES DE LA SECCION FOOTER */

.main-footer {
    background-color: black;
    color:white;
}