@import url ('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Outfit:wght@300;400;600;700&display=swap');


:root {
    --font-card-color: #173334;
    --secondary-color: #FEB02F;
    --gray-color: #c4c4c4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.main-header {
    background-color:var(--secondary-color);
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-banner {
    
    background-color: #333;
    height: 250px; 
    
}

.banner-img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    
}

.banner-info {
    position: absolute;
    background-color: rgb(65, 105, 0, 0.067);
}

.main-container {
    flex-grow: 1;
    max-width: 1400px;
    margin: 0 auto;
}

/* # CLASES DE LA SECCION CARD */

.card-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
} 

.card-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.card {
    width:400px;
    height:auto;
    border: 1px solid #0f0101;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Outfit' sans-serif;
    font-size: 14px;
}
.card-header {
    height: 235px;
    position: relative;  
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

actions i:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.card-img {
    width: 70%;
    height: 235px;
    object-fit: cover;
    position: absolute;
    transition: opacity .9s ease-in-out, rotate .5s ease-in-out;
    
    

    
}
.card-header .card-img-2 {
    opacity: 0;
}


.card-header:hover .card-img-1 {
    opacity: 0;
}
.card-header:hover .card-img-2 {
    opacity: 1;
}

.card-main {
    padding: 15px;
}

.card-title {
    font-family: 'Dela Gothic One', sans serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-average {
    margin-bottom: 15px;

}

.card-price .price {
    font-size: 20px;
    font-weight: 700;
}

.card-price small {
    font-size: 10px;
}

.card-price .normal-price {
    opacity: .6;
    font-size: 13px;
    text-decoration: line-through;
}
.card-footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-selection {
    display: flex;
    gap: 12px;

}

.card-selection > div {
    flex: 1 1 0;

}

.card-selection .version{
        display: flex;
        flex: 6 1 0;
        flex-direction: column;
}

.card-selection .quantity {
    flex: 4 1 0;
}

.quantity-actions {
    display: flex;
    border: 1px solid var(--gray-color);
    border-radius: 11px;
    overflow: hidden;

}

.quantity-actions > * {
    padding: 10px 15px;
    flex: 1;
    height: 41px;

}

.quantity-actions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.add-to-card {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--font-card-color);
    padding: 11.3px 15px;
    border-radius: 10px;
    font-weight: 600;
    line-height: 1;
    font-size: 15px;
    position: relative;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    transition: all .3s ease-in-out;
    
}
.add-to-card:hover {
    background-color: var(--font-card-color);
    color: var(--secondary-color);

.card-selection .version select {
    padding: 10px 35px 10px 15px;
    width: 100%;
    border: 1px solid var(--gray-color);
    height: 42px;
    line-height: 20px;
    appearance: none;
    cursor: pointer;
    border-radius: 11px;
    background-color: transparent;
    background: url(https://grocery-workdo.myshopify.com/cdn/shop/t/3/assets/arrow-acc-dark.svg) no-repeat;
    background-size: 12px;
    background-position: calc(100% - 15px) 50%;
}



.card-version {
    display: flex;
    flex-direction: column;
}
/* # CLASES DE LA SECCION FOOTER */

.main-footer {
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
}

.footer-section {
    padding: 1.5rem 1rem;
    color: rgba(255,255,255, .65);
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}
.footer-social-link {
    text-decoration: none;
    color:rgb(146, 199, 144);
    /* Propiedades de flex para alinear icono y texto */
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 1s;
}

.footer-social-link:hover {
    color: aqua;
    font-size: 1.2rem;
    
}

.footer-brand {
    color: white;
    text-align: center;

}

.footer-logo {
    width: 85px;
    height: 64px;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px;
}
    
.footer-social-link > i {
    color: rgb(201, 80, 212);
    font-size: 24px;

}

.footer-contact {
    padding-left: 1rem;
}


